<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
            <p class="footer__logo-top">Homemade ice cream made</p>
            <p class="footer__logo-bottom">with passion</p></div>
            <div class="footer__connect">
            <section class="socials">
                <ul class="socials__list list">
                    <li class="socials__item">
                        <a href="https://github.com/" class="socials__link link" target="_blank"
                            rel="noreferrer noopener"><svg class="socials__icon" width="34" height="34">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://telegram.org/" class="socials__link link" target="_blank"
                            rel="noreferrer noopener">
                            <svg class="socials__icon" width="34" height="34">
                                <use href="./images/symbol-defs.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://www.facebook.com/" class="socials__link link" target="_blank"
                            rel="noreferrer noopener">
                            <svg class="socials__icon" width="34" height="34">
                                <use href="./images/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="footer__contact">
            <p class="footer__text">Feel free to contact <a href="tel:+610383766284" class="footer__tel link">+61 (0) 383 766 284</a></p>
            </div></div>
        </div>
        <p class="footer__copyright">&#169 2022 - IceCream. <span class="footer__copytext">All Rights Reserved.</span></p>
    </div>
</footer>