<header class="header">
    <div class="container header-thumb">
        <a href="/">
            <picture>
                <source srcset="
                ./images/Ice-logo.png  1x,
                ./images/Ice-logo-2x.png  2x
                " media="(min-width: 320px)" />
                <img class="header__img" src="./images/Ice-logo.png" alt="Main-logo" width="200" height="50">
            </picture>
        </a>
        <button type="button" class="header__menu-open">
            <svg width="20" height="12">
                <use href="./images/symbol-defs.svg#icon-burger">
                </use>
            </svg>
        </button>
        <ul class="header__list">
            <li class="header__list-item">
                <a class="header__list-link" href="">Home</a>
            </li>
            <li class="header__list-item">
                <a class="header__list-link" href="#about">About us</a>
            </li>
            <li class="header__list-item">
                <a class="header__list-link" href="#how-made">How it's made?</a>
            </li>
            <li class="header__list-item">
                <a class="header__list-link" href="#products">Our products</a>
            </li>
            <li class="header__list-item">
                <a class="header__list-link" href="#contacts"> Contact</a>
            </li>
        </ul>
        <button class="header__button js-open-modal" type="button" data-modal="buy-now">Buy now
            <svg class="header-icon" width="20" height="12">
                <use href="./images/symbol-defs.svg#icon-icon">
                </use>
            </svg>
        </button>
    </div>
    <div class="backdrop is-hidden" data-menu>
        <div class="header__menu animation-close" data-menu-open>
            <button type="button" class="header__menu-close">
                <svg width="20" height="12">
                    <use href="./images/symbol-defs.svg#icon-close">
                    </use>
                </svg>
            </button>
            <button class="menu__button js-open-modal" type="button" data-modal="buy-now">Buy now
                <svg class="menu-icon" width="20" height="12">
                    <use href="./images/symbol-defs.svg#icon-icon">
                    </use>
                </svg>
            </button>
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a class="menu__list-link" href="#home">Home</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-link" href="#about">About us</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-link" href="how-made">How it's made?</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-link" href="#products">Our products</a>
                </li>
                <li class="menu__list-item">
                    <a class="menu__list-link" href="contacts"> Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>