<section class="hero">
    <div class="container">
        <div class="container__flex">
            <div class="hero__flex">
                <div class="hero__container">
                    <h1 class="hero__container-title">ice cream<br /> made with <span
                            class="hero__container-title-span">passion</span></h1>
                    <ul class="button__list list">
                        <li class="button__list-item product-item">
                            <a class="button__list-link product-link link" href="#products">Products</a>
                        </li>
                        <li class="button__list-item how-made-item">
                            <a class="button__list-link how-made-link link" href="#how-made">How it's made?</a>
                        </li>
                    </ul>
                </div>
                <div class="quantity__container">
                    <ul class="quantity__container-list">
                        <li class="quantity__container-item">
                            <p class="quantity__container-number">16</p>
                            <div class="quantity__container-circle"></div>
                            <p class="quantity__container-text">cafes</p>
                        </li>
                        <li class="quantity__container-item">
                            <p class="quantity__container-number">23</p>
                            <div class="quantity__container-circle"></div>
                            <p class="quantity__container-text">food trucks</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hero__flex">
                <div class="bio__container">
                    <picture>
                        <source srcset="
                        ./images/img-hero/desk-milk.webp 1x,
                        ./images/img-hero/desk-milk-2x.webp 2x" media="(min-width:1200px)" type="image/webp" />
                        <source srcset="
                        ./images/img-hero/desk-milk.png 1x,
                        ./images/img-hero/desk-milk-2x.png 2x" media="(min-width:1200px)" type="image/png" />
                        <source srcset="
                        ./images/img-hero/tab-milk.webp 1x,
                        ./images/img-hero/tab-milk-2x.webp 2x" media="(min-width:768px)" type="image/webp" />
                        <source srcset="
                        ./images/img-hero/tab-milk.png 1x,
                        ./images/img-hero/tab-milk-2x.png 2x" media="(min-width:768px)" type="image/png" />
                        <img class="bio__container-image" src="./images/img-hero/tab-milk.webp" alt="icecream">
                    </picture>
                    <div class="bio__container-info">
                        <p class="bio__container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et</p>
                        <button class="bio_container-button js-open-modal" type="button" data-modal="about"
                            aria-label="Left align">
                            <svg class="bio_container-icon" height="8" width="8">
                                <use href="./images/symbol-defs.svg#icon-arrow-without-circle"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="tasty__container">
                    <picture>
                        <source srcset="
                        ./images/img-hero/desk-tasty.webp 1x,
                        ./images/img-hero/desk-tasty-2x.webp 2x" media="(min-width:1200px)" type="image/webp" />
                        <source srcset="
                        ./images/img-hero/desk-tasty.png 1x,
                        ./images/img-hero/desk-tasty-2x.png 2x" media="(min-width:1200px)" type="image/png" />
                        <source srcset="
                        ./images/img-hero/tab-tasty.webp 1x,
                        ./images/img-hero/tab-tasty-2x.webp 2x" media="(min-width:768px)" type="image/webp" />
                        <source srcset="
                        ./images/img-hero/tab-tasty.png 1x,
                        ./images/img-hero/tab-tasty-2x.png 2x" media="(min-width:768px)" type="image/png" />
                        <img class="tasty__container-image" src="./images/img-hero/tab-tasty.webp" alt="icecream">
                    </picture>
                </div>
            </div>
            <div class="hero__flex">
                <div class="image__container">
                    <picture>
                        <source srcset="
                        ./images/img-hero/desk-icecream.webp 1x,
                        ./images/img-hero/desk-icecream-2x.webp 2x" media="(min-width:1200px)" type="image/webp" />
                        <source srcset="
                        ./images/img-hero/desk-icecream.png 1x,
                        ./images/img-hero/desk-icecream-2x.png 2x" media="(min-width:1200px)" type="image/png" />
                        <source srcset="
                        ./images/img-hero/tab-icecream.webp 1x,
                        ./images/img-hero/tab-icecream-2x.webp 2x" media="(min-width:768px)" type="image/webp" />
                        <!-- <source srcset="
                        ./images/img-hero/tab-icecream.png 1x,
                        ./images/img-hero/tab-icecream-2x.png 2x"
                        media="(min-width:768px)" type="image/png" /> -->
                        <source srcset="
                        ./images/img-hero/mob-icecream.webp 1x,
                        ./images/img-hero/mob-icecream-2x.webp 2x" media="(min-width:320px)" type="image/webp" />
                        <source srcset="
                        ./images/img-hero/mob-icecream.png 1x,
                        ./images/img-hero/mob-icecream-2x.png 2x" media="(min-width:320px)" type="image/png" />
                        <img class="image__container-image" src="./images/img-hero/mob-icecream.webp" width="171"
                            height="410" alt="icecream">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>