<section class="reviews">
  <div class="container">
    <div class="reviews-slider">
      <div class="reviews-info">
        <img
          class="reviews-image"
          src="./images/reviews1-1x.jpg"
          alt="reviews-photo"
        />
        <div class="reviews-text-wrap">
          <p class="reviews-text">
            <span
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span
            >
          </p>
        </div>
        <p class="revies-name">Emily, Los Angeles</p>
      </div>
      <div class="reviews-info">
        <img
          class="reviews-image"
          src="./images/reviews2-1x.jpg"
          alt="reviews-photo"
        />

        <div class="reviews-text-wrap">
          <p class="reviews-text">
            <span
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span
            >
          </p>
        </div>
        <p class="revies-name">Kristal, Oregon</p>
      </div>
      <div class="reviews-info">
        <img
          class="reviews-image"
          src="./images/reviews3-1x.jpg"
          alt="reviews-photo"
        />

        <div class="reviews-text-wrap">
          <p class="reviews-text">
            <span
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span
            >
          </p>
        </div>
        <p class="revies-name">Jeremi, Las Vegs</p>
      </div>
    </div>
  </div>
</section>

<!-- <span
              >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</span
            >
          </p> -->
