<section class="reviews">
  <div class="container">
    <div class="reviews-slider">
      <div class="reviews-image">
        <img src="./images/reviews1-1x.jpg" alt="reviews-photo" />
        <p class="reviews-text">
          <span>Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.</span>
        </p>
      </div>
      <div class="reviews-image">
        <img src="./images/reviews2-1x.jpg" alt="reviews-photo" />
        <p class="reviews-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="reviews-image">
        <img src="./images/reviews3-1x.jpg" alt="reviews-photo" />
        <p class="reviews-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
  </div>
</section>